@charset "UTF-8";

#wrap {width:100%;}
#wrap #main {width:100%;height:969px;background:url(../img/slide03.jpg) no-repeat 50% 50%;background-size:110% auto;overflow:hidden;}
#wrap #main .img-wrap {width:auto;height:auto;position:absolute;top:0;left:0;}