@charset "UTF-8";

#wrap {width:100%;}
#wrap #section01 {width:100%;height:969px;background:url(../img/slider-img4.jpg) no-repeat 50% 50%;background-size:110% auto;overflow:hidden;transition:all .3s;}
/* 마우스 포인터에 따라서 background position의 좌표값을 바꾼다. */
#wrap #section01 .mousepointer{position:absolute;top:0;left:0;width:55px;height:55px;}

